
<div>
    <div class="list-group mb-5" *ngIf="todos">
        <div class="list-group-item list-group-item-action" *ngFor="let todo of todos" >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{ '#' + todo.id }} </h5>
                <small> {{ todo.createdAt | date: ('todo.list.table.createAtFormat' | translate) }}</small>
            </div>
            <div class="mb-1 fs-6 fw-semibold">
                {{ todo.title }}
            </div>
            <div class="row">
                <div class="col-9" > {{ todo.description | truncate:100 }}</div>
                <div class="col-3 text-end" >
                    <ng-container *ngIf="public === false; else elseShowTodoDetails" >
                        <p-button 
                            icon="pi pi-pencil" 
                            styleClass="p-button-rounded p-button-outlined ms-2"
                            pTooltip=" {{'todo.list.table.tooltip.update' | translate }}" 
                            tooltipPosition="bottom"
                            (click)="updateTodo(todo)"
                        ></p-button>
                        <p-button 
                            [icon]="todo.status === 'done' ? 'pi pi-undo' : 'pi pi-check' " 
                            styleClass="p-button-rounded p-button-outlined ms-2"
                            [pTooltip]="(todo.status === 'done' ? 'todo.list.table.tooltip.to_in_progress' : 'todo.list.table.tooltip.to_done') | translate"  
                            tooltipPosition="bottom"
                            (click)="changeStatusTodo(todo)"
                        ></p-button>
                        <p-button 
                            icon="pi pi-times" 
                            styleClass="p-button-rounded p-button-outlined p-button-danger ms-2"
                            pTooltip="{{ 'todo.list.table.tooltip.delete' | translate }}" 
                            tooltipPosition="bottom"
                            (click)="deleteTodo(todo)"
                        ></p-button>
                    </ng-container>

                    <ng-template #elseShowTodoDetails>
                        <p-button 
                            icon="pi pi-eye" 
                            styleClass="p-button-rounded p-button-outlined"
                            pTooltip=" {{ 'todo.list.table.tooltip.show' | translate }}" 
                            tooltipPosition="bottom"
                            (click)="showTodo(todo)"
                        ></p-button>
                    </ng-template>
                </div>
            </div>
            <div class="p-1">
                <p-tag [value]=" 'todo.status.' + todo.status | translate" [severity]="todo.status | severity"></p-tag>
                <p-tag [value]="(todo.public ? 'todo.list.table.privacy.public' : 'todo.list.table.privacy.private') | translate " class="m-1"></p-tag>
                <p-chip [label]="todo.owner.firstName + ' ' + todo.owner.lastName" icon="pi pi-user"></p-chip>
            </div>
        </div>
    </div>
    <p-paginator 
        (onPageChange)="onPageChange($event)"
        [rows]="rows"
        [totalRecords]="total"
        [pageLinkSize]="3"
        [rowsPerPageOptions]="[5, 10, 20, 30]"
    ></p-paginator>
</div>
