<div class="mt-2">
    <p class="mb-1 fs-6 fw-semibold">{{ 'todo.title.public_todos' | translate }} ({{ totalItems}})</p>
    
    <app-todo-list
        [todos]="todos"
        [total]="totalItems"
        [rows]="itemsPerPage"
        [loading]="isLoading"
        [public]="true"
        (page)="onPage($event)"
        (show)="openShowTodoDialog($event)"
    ></app-todo-list>

    <ng-container *ngIf="dialog.visible">
        <app-todo-form-dialog
            [canShow]="dialog.visible"
            [header]="dialog.header"
            [action]="dialog.action"
            [disabled]="true"
            [todo]="dialog.todo"
            (closeDialog)="onCloseDialog()"
        ></app-todo-form-dialog>
    </ng-container>
</div>