<div class="row px-2 container-header-top">
    <div class="position-relative mt-1 mb-3">
        <form [formGroup]="langForm" class="position-absolute top-0 end-0">
            <p-selectButton 
                [options]="langOptions"
                (onChange)="onChangeLang($event)"
                formControlName="lang" 
                optionLabel="label" 
                optionValue="value"
                styleClass="app-btn-lang"
            ></p-selectButton>
        </form>
    </div>  
</div>
