
<div>
    <span class="p-float-label">
        <textarea 
            pInputTextarea 
            class="form-control"
            id="{{ label | translate }}"
            [(ngModel)]="val"
            (ngModelChange)="onChange($event)" 
            (blur)="onTouch($event)"
            [rows]="rows" 
            [cols]="cols"
            [autoResize]="autoResize"
        ></textarea>
        <label htmlFor="{{ label | translate}}"> {{ label | translate}}</label>
    </span>
    <small *ngIf="hint"> {{ hint | translate}} </small>
    <ng-container *ngIf="inputControl.control">
        <app-form-control-error  [control]="inputControl.control" ></app-form-control-error>
    </ng-container>
</div>
