<div class="w-100">
    <span class="p-float-label">
        <p-password 
            class="form-pwd"
            [toggleMask]="true"
            [feedback]="false"
            [(ngModel)]="val"
            (ngModelChange)="onChange($event)" 
            (blur)="onTouch($event)"
        >
        </p-password>
        <label for="{{ label | translate }}"> {{ label | translate }}</label>
    </span>
    <small *ngIf="hint"> {{ hint }} </small>
    <ng-container *ngIf="inputControl.control">
        <app-form-control-error [control]="inputControl.control" ></app-form-control-error>
    </ng-container>
</div>